<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="ISO-8859-1">
	<title>Insertar titulo aqui</title>
	<style>
		body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            max-width: 600px;
            width: 100%;
        }
	</style>
</head>
<body>
<section>
	<div class="container mt-5 p-5">
		<div class="row justify-content-center">
			<div class="col-md-6 mt-3 p-5">
				<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
					<div class="card-header">
						<p class="fs-4 text-center">Iniciar sesion</p>
						<div th:if="${param.error}" class="alert alert-danger text-center">
							<th:block th:if="${session.SPRING_SECURITY_LAST_EXCEPTION!=null}">
								[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
							</th:block>
						</div>

						<div th:if="${param.logout}" class="alert alert-success">
							Cierre de sesion exitoso
						</div>
					</div>
					<div class="card-body">
						<form action="/login" method="post">
							<div class="mb-3">
								<label class="form-label">Correo electronico</label>
								<input required class="form-control" name="username" type="email">
							</div>

							<div class="mb-3">
								<label class="form-label">Contrasenia</label>
								<input required class="form-control" name="password" type="password">
							</div>
							<button type="submit" class="btn bg-primary text-white col-md-12">Iniciar sesion</button>
						</form>
					</div>

					<div class="card-footer text-center">
						No tienes una cuenta? <a href="#" class="text-decoration-none">Crea una</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>
